{% extends 'base.html.twig' %}

{% block body %}
    <h1>Information list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Datepublication</th>
                <th>Typeinformation</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Anneescolaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for information in information %}
            <tr>
                <td><a href="{{ path('api_info_show', { 'id': information.id }) }}">{{ information.id }}</a></td>
                <td>{{ information.titre }}</td>
                <td>{{ information.description }}</td>
                <td>{% if information.datePublication %}{{ information.datePublication|date('Y-m-d') }}{% endif %}</td>
                <td>{{ information.typeInformation }}</td>
                <td>{% if information.createdAt %}{{ information.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if information.updatedAt %}{{ information.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ information.anneeScolaire }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('api_info_show', { 'id': information.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('api_info_edit', { 'id': information.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('api_info_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
